<%= form_for @producto, { remote: true, multipart: true }  do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del producto:</h4>
    </div>

    <div class="item form-group<%= @producto.errors[:imagen].any? ? ' has-error has-feedback' : '' %>">
      <%= image_tag(@producto.imagen.url, size: "150x150") if @producto.imagen? %>
      <div class="input-group">
        <%= f.file_field :imagen, {:class=> "form-control" } %>
        <%if @producto.errors[:imagen].any? %>
          <p class="bg-danger"><%= @producto.errors[:imagen].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:nombre].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Nombre del producto: " %>
      <div class="input-group">
        <%= f.text_field :nombre, {:class=> "form-control", :placeholder=>"Introduzca el nombre del producto..."} %>
        <%if @producto.errors[:nombre].any? %>
          <p class="bg-danger"><%= @producto.errors[:nombre].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:descripcion].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descripcion, "Descripción del producto: " %>
      <div class="input-group">
        <%= f.text_area :descripcion, {class: "form-control", :placeholder=>"Introduzca la descripción del producto..."} %>
        <%if @producto.errors[:descripcion].any? %>
          <p class="bg-danger"><%= @producto.errors[:descripcion].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:precio].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :precio, "Precio del producto: " %>
      <div class="input-group">
        <%= f.number_field :precio, {class: "form-control", :placeholder=>"Precio del producto"} %>
        <%if @producto.errors[:precio].any? %>
          <p class="bg-danger"><%= @producto.errors[:precio].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:existencia].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :existencia, "Stock inicial: " %>
      <div class="input-group">
        <%= f.number_field :existencia, {class: "form-control", :placeholder=>"Stock inicial"} %>
        <%if @producto.errors[:existencia].any? %>
          <p class="bg-danger"><%= @producto.errors[:existencia].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:category].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :categoria, "Categoría: " %>
      <div class="input-group">
      <%= collection_select(:product, :category_id, @categorias, :id, :nombre, {:prompt => 'Seleccione categoria'}, { class: "form-control" })%>
        <%if @producto.errors[:category].any? %>
          <p class="bg-danger"><%= @producto.errors[:category].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @producto.errors[:supplier].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :supplier, "Proveedor: " %>
      <div class="input-group">
      <%= collection_select(:product, :supplier_id, @proveedores, :id, :nombre, {:prompt => 'Seleccione un proveedor'}, { class: "form-control" })%>
        <%if @producto.errors[:supplier].any? %>
          <p class="bg-danger"><%= @producto.errors[:supplier].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @producto.new_record? ? "Crear Producto" : "Actualizar Producto", :class => "btn btn-success"%>
    </div>
  <% end %>
